@charset "utf-8";

#con1 {
  width: 100%;
  height: 100vh;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.visual_wrap {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
=======
  position: relative;
  margin-bottom: 200px;
}

.main_visual {
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
>>>>>>> 1323533 (은님)
}


svg {
  position: fixed;
  top: 70%;
  left: 50%;
<<<<<<< HEAD
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  width: 1000px;
  height: 1000px;
  opacity: 0.2;
=======
  transform: translate(-70%, -50%) scale(1) rotate(0deg);
  width: 800px;
  width: 800px;
>>>>>>> 1323533 (은님)
  transition: transform 0.1s linear;
  pointer-events: none;
}

text {
  font-size: 16px;
  letter-spacing: 2px;
  fill: white;
  opacity: 0.2;
  transition: opacity 0.1s linear;
}

<<<<<<< HEAD
.main_visual {
  opacity: 0.2;
}

.main_visual img {
  object-fit: contain;
}

#con1 h2 {
  font-size: 80px;
  text-align: center;
  line-height: 1.3;
  z-index: 1;
  color: var(--main-color-wh);
  position: absolute;
}

#con2 {
  width: 100%;
  height: 100vh;
}
=======
#con2 {
  width: 100%;
  height: 100vh;
}

#con2 .profile {
  width: 500px;
  height: 750px;
  background: url(../asset/profile.png) no-repeat center/contain;
}

#con2 .profile_info {}
>>>>>>> 1323533 (은님)
